@import "../../styles/index";

.my-listed {
  padding-right: 0;
  padding-left: 0;
  padding-bottom: 24px;

  &__items {
    display: grid;
    gap: 12px;
  }

  &__container {
    &:not(:last-child) {
      margin-bottom: 36px;
    }
  }

  @include mobile {
    &__items {
      grid-template-columns: repeat(1, 1fr);
    }
  }
  @include tablet {
    &__items {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  @include desktop {
    &__items {
      grid-template-columns: repeat(3, 1fr);

      //.item:last-child {
      //  display: none;
      //}
    }
  }
  @include wide-desktop {
    &__items {
      grid-template-columns: repeat(4, 1fr);
    }
  }
}