@import "../../styles/index";

.explore-page {
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 24px;

  &__container {
    display: grid;
    gap: 12px;
  }

  @include mobile {
    &__container {
      grid-template-columns: repeat(1, 1fr);
    }
  }
  @include tablet {
    &__container {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  @include desktop {
    &__container {
      grid-template-columns: repeat(3, 1fr);
    }
  }
  @include wide-desktop {
    &__container {
      grid-template-columns: repeat(4, 1fr);
    }
  }
}